@model List<QuestionBanks.ViewModels.QuestionVM>

@{
    ViewBag.Title = "Exam Result";
}



<p>
    You answered <strong>@ViewBag.CorrectAnswers</strong> out of <strong>@ViewBag.TotalQuestions</strong> questions correctly!
</p>


